.vscode/settings.json
EcommerceProject/EcommerceProject/__pycache__/settings.cpython-36.pyc
EcommerceProject/StoreApp/__pycache__/urls.cpython-36.pyc
EcommerceProject/StoreApp/__pycache__/views.cpython-36.pyc
EcommerceProject/StoreApp/__pycache__/urls.cpython-36.pyc
