@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
.navbar {

    height: 80px;
    background: #fff;
}

* {
    font-family: 'Josefin Sans' !important;
}

.nav-item {

    color: #141517 !important;
    margin: 0px 5px !important;
    text-decoration: none;
}

.wrapper {

    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}

.main-head {
    color: red !important;
    text-decoration: none !important;
}

.icons {

    flex-grow: 1;
}

.h-link {

    text-decoration: none;
    color: #141517;
}