* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    transition: all 2s ease-in-out;
}


/* Navigation bar styling starts */ 

nav .collapse ul {
    margin-top: 30px;
}

nav .collapse ul .nav-link {
    font-size: 18px !important; 
    font-weight: 800 !important;
    margin-left: 10px;
    margin-right: 10px;
}

nav .nav-search {
    color: #000;
    margin-right: 25px;
    margin-top: 10px;
    cursor: pointer;
}

nav .nav-login {
    color: #000; 
    margin-top: 10px;
    cursor: pointer;
}


@media (max-width: 576px )  {

    nav .nav-bar-icons {
        
        order: 2 !important;
    }
    
}

/* Navigation bar styling ends */ 



/* Welcome menu section starts */

#welcome-menu {

    margin-top: 40px;
    background-color:#f8f9fa;
}

#welcome-menu #image-col img {
    margin-left: 80px;
    transition: all 1s ease-in-out;
    max-width: 100%;
}

#welcome-menu #text-col {

    margin-top: -20px;
}
#welcome-menu #image-col img:hover {
    transform: scale(1.03);
}
#welcome-menu #text-col h1 {
    font-size: 95px;
    font-weight: 800;
    margin-top: 50%;
    margin-left: -20%;
    color: rgb(9, 3, 59);
    transition: all 2s ease-in-out;
}

#welcome-menu #text-col p {
    color: rgb(9, 3, 59);
    margin-left: -18%;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 20px; 
    margin-bottom: 20px;
}

#welcome-menu #text-col button {

    margin-left: -18%;
    margin-top: 30px;
    border: none; 
    outline: none; 
    background: #4a4a4b; 
    padding: 15px 29px;
    width: 180px;
    text-transform: uppercase;
    font-size: 18px; 
    font-weight: 600;
    color: #fff;
    transition: all 0.5s ease-in-out;

}

#welcome-menu #text-col button:hover {
    background: red;
}
@media (max-width: 576px) {

    #welcome-menu #image-col img {
        display: none;
    }

    #welcome-menu #text-col h1 {
        font-size: 40px;
        margin-top: 20%;
    }

    #welcome-menu #text-col button {

        padding: 10px 10px; 
        width: 150px;
        font-size: 14px;
        margin-left: 5px;
    }
    
    #welcome-menu #text-col p {
        font-size: 16px;
        margin-left: 5px;
    }
}

@media (max-width: 768px) {

    #welcome-menu #image-col img {
        display: none;
    }

    #welcome-menu #text-col h1 {

        font-size: 45px; 
        margin-left: 5px; 
        margin-top: 20%;
    }
    
    #welcome-menu #text-col p {
        font-size: 16px;
        margin-left: 5px;
    }

    #welcome-menu #text-col button {

        padding: 10px 10px; 
        width: 150px;
        font-size: 14px;
        margin-left: 5px;
    }
}

@media (max-width: 992px) {
    #welcome-menu #image-col img {
        
        display: none;
    }

    #welcome-menu #text-col h1 {

        font-size: 45px; 
        margin-left: 5px; 
        margin-top: 20%;
    }
    
    #welcome-menu #text-col p {
        font-size: 18px;
        margin-left: 5px;
    }

    #welcome-menu #text-col button {

        padding: 10px 10px; 
        width: 150px;
        font-size: 14px;
        margin-left: 5px;
    }

}

/* Welcome menu section ends */





/* New arrivals section starts */

#new-arrivals {

    margin-top: 120px;
    padding-top: 40px;
}

#new-arrivals h2 {
    
    margin-bottom: 60px;
    margin-left: 400px;
    font-size: 50px; 
    font-weight: bold;
    color: #0a0a20;
}

#new-arrivals .col-lg-4 .card {

    border: none; 
    outline: none;
}

#new-arrivals .col-lg-4 .card img {

    transition: all 1s ease-in-out;
    max-width: 100%;
}

#new-arrivals .col-lg-4 .card img:hover {
    
    transform: scale(1.03);
}

#new-arrivals .col-lg-4 .card .card-body {

    margin-top: 10px;
}
#new-arrivals .col-lg-4 .card .card-body a {

    text-decoration: none;
    color: #444;
}

#new-arrivals .col-lg-4 .card .card-body h6 {

    font-size: 28px !important;
    font-weight: bold !important;

}
#new-arrivals .col-lg-4 .card .card-body h4 {

    margin-top: 10px;
    color: red; 
    font-size: 22px;
}

#new-arrivals #arrivals-second {

    margin-top: 150px;
}

#new-arrivals #arrivals-second .gallery-image {

    height: 690px;
    background-image: url("../images/gallery1.jpg");
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    max-width: 100%;
    transition: all 0.3s ease-in;
}

#new-arrivals #arrivals-second .gallery-image:hover {

    transform: scale(0.99);

}

#new-arrivals #arrivals-second #second-gallery-item {

    background-image: url("../images/gallery2.jpg");
}

#new-arrivals #third-gallery-item {

    background-image: url("../images/gallery3.jpg");
    height:  330px;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in;

}

#new-arrivals #fourth-gallery-item {

    background-image: url("../images/gallery4.jpg");
    height: 330px;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
    transition: all 0.3s ease-in;

} 

#new-arrivals #third-gallery-item:hover {

    transform: scale(0.99);
}

#new-arrivals #fourth-gallery-item:hover {

    transform: scale(0.99);
}


/* New arrivals section ends */



/* Popular items section starts */


#popular-items {

    padding-top: 200px;
    
}

#popular-items h2 {

    font-size: 50px !important;
    font-weight: bolder;
}

#popular-items p {

    text-align: justify;
    color: rgb(148, 145, 145);
    margin-top: 15px;
    
}

#popular-items .row {

    padding-top: 30px;
}

#popular-items .row .card {

    border: none; 
    outline: none;
    margin-top: 10px; 
    margin-bottom: 10px;

}

#popular-items .row .card .image-caption {

    position: absolute;
    top: 65%;
    background: red;
    height: 50px;
    width: 100%;
    transition: all 3s ease-in-out;
    visibility: hidden;
    cursor: pointer;
}

#popular-items .row .card img {

    border-bottom: 3px solid red;
}

#popular-items .row .card .image-caption p {

    color: #fff;
}
#popular-items .row .card .card-title {

    font-weight: bolder !important;
    font-size: 25px;
    color: #0a0a20;
}

#popular-items .row .card .card-body {

    margin-top: 15px;
}
#popular-items .row .card .card-text {

    color: #0a0a20;
    font-size: 16px !important;
    font-weight: 600 !important;

}

#popular-items .more-products-btn button {

    text-transform: uppercase;
    padding: 10px 15px;
    width: 250px;
    border: none; 
    outline: none;
    color: #fff; 
    background-color: red;
    font-size: 18px;
    font-weight: 600;
    margin-top: 80px;
}
/* Popular items section ends */