* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {

    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

header .mosaic {

    height: 40vh;
    width: 100%; 
    background-image: url(/static/images/mosaic.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



