* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {

    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

nav .collapse ul {

    padding: 20px 0px 20px 0px;
}

nav .collapse ul .nav-link {
    font-size: 18px !important; 
    font-weight: 800 !important;
    margin-left: 10px;
    margin-right: 10px;
}

nav .nav-search {
    color: #000;
    margin-right: 25px;
    margin-top: 5px;
    cursor: pointer;
}

nav .nav-login {
    color: #000; 
    margin-top: 5px;
    cursor: pointer;
}


@media (max-width: 576px )  {

    nav .nav-bar-icons {
        
        order: 2 !important;
    }
    
}

/* navbar section ends */


/* first section starts */
#first-section .mosaic {

    height: 40vh;
    width: 100%; 
    background-image: url(/static/images/mosaic.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#first-section .mosaic .mosaic-content h1{

    color: #192a56;
    font-weight: 600;
    font-size: 50px;

}

#first-section #second-row .item {

    margin-top: 150px;
}
#first-section #second-row .item img {

    width: 50vh;
    height: 70vh;
}

#first-section #second-row .item h2 {

    margin-top: 10vh;
    font-size: 35px !important;
    font-weight: 600;
}

#first-section #second-row .item p {

    width: 50%; 
    margin: auto;
    font-size: 18px;
    margin-top: 5vh;
    text-align: justify;
    color: rgb(151, 149, 149);
}

#first-section #second-row .item button {

    margin-top: 10vh;
    border: 1px solid #00a8ff; 
    outline: none;
    padding: 20px 20px;
    color: #00a8ff;
    background: transparent;
    width: 170px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

#first-section #second-row .item button:hover {

    color: #fff; 
    background: #00a8ff;
}

/* First section styling ends */ 



/* subscribe section styling starts */ 

#subscribe {

    margin-top: 100px; 
    padding-top: 20vh;
    background-color: #191d34;

}

#subscribe h2 {

    color: #fff;
    font-weight: 600;
}

#subscribe p {

    color: rgb(229, 235, 235);
    font-family: sans-serif !important;
    width: 80%; 
    margin: auto;
    font-size: 16px;
    margin-top: 5px;
}

#subscribe .column {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#subscribe .input-and-button {

    margin-top: 8vh;
    font-family: sans-serif !important;
}

#subscribe .input-and-button button {

    position: absolute; 
    z-index: 1; 
    margin-left: -90px;
    margin-top: 20px;
}

#subscribe .input-and-button input {

    width: 50vh;
    padding: 19px 30px;
    border-radius: 50px;
    outline: none; 
    color: #fff; 
    border: 1px solid #fff;
    background: transparent;
}
/* subscribe section styling ends */